@font-face{
    font-family: "LibreBodoni";
    src: url('../assets/LibreBodoni-Regular.ttf');
}
html, body, #root{
    background-color: #030003;
    font-family: monospace;

    height: 100%;
}

.Main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;

    display: grid;
    align-items: center;
    column-gap: 2.5%;

    z-index: 1;
}

@media (orientation: landscape) {
    .Main{
        grid-template:
            "logo text" 50%
            "info info";
    }
    .LogoSection{
        text-align: right;
    }
}
  
  @media (orientation: portrait) {
    .Main{
        width: 90%;

        grid-template:
            "logo"
            "info"
            "text";
    }
    .LogoSection{
        text-align: center;
    }
  }

.LogoSection{
    width: 100%;
    height: 100%;

    align-content: center;
    grid-area: logo;
    
}
.LogoImage{
    max-width: 80%;
    max-height: 80%;
}

.RadauskoSection{
    grid-area: text;

    border: #00000000;
    border-left: #FFFFFF;
    border-style: solid;
    border-width: 5px;
}
.RadauskoSection > pre{
    margin-left: 25px;
    color: #FFFFFF;
    font-size: 2em;
}

.InfoSection{
    grid-area: info;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 1%;
}
.InfoLink{
    min-width: 250px;
    width: 30%;
    justify-content: center;
    align-content: center;
    text-align: center;

    color: #FFFFFF;
    text-decoration: none;
}
.InfoImage{
    image-rendering: pixelated;

    min-width: 250px;

    width: 60%;

    max-width: 75%;
    max-height: 75%;
}