.VideoSection{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    row-gap: 8vw;
    column-gap: 30px;
}

.Video{
    position: relative;
    aspect-ratio: 4 / 3;
    text-decoration: none;

    background-size: cover;
    background-position: 50%;
    filter: grayscale(100%);
    transition: 1s ease;
}
.Video:hover{
    transform: scale(150%);
    filter: grayscale(0%);
    z-index: 2;
}

.Gradient{
    position: absolute;
    bottom: -1%;
    left: 50%; /* Position the h1 in the center horizontally */
    transform: translateX(-50%); /* Adjust the h1 to be perfectly centered */
    margin: 0;

    height: 50%;
    width: 101%;

    text-align: center;
    text-wrap: wrap;
    
    background: linear-gradient(0deg, #030003 0%, rgba(0,0,0,0) 100%);
}
.Gradient > h1{ 
    position: absolute;
    bottom: -1%;
    left: 50%; /* Position the h1 in the center horizontally */
    transform: translateX(-50%); /* Adjust the h1 to be perfectly centered */
    margin: 0;

    width: 100%;

    font-size: 1.3rem;
    color: aliceblue;
}

@media (orientation: landscape) {
    .Video{
        min-width: 300px;
        min-width: 300px;
        max-width: 30%;
        max-height: 30%;
    }
}
  
@media (orientation: portrait) {
    .Video{
        min-width: 250px;
        min-width: 250px;
        max-width: 20%;
        max-height: 20%;
    }
}