.VideoSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 5%;
    column-gap: 5%;
}

.Video{
    position: relative;
    aspect-ratio: 4 / 3;
    text-decoration: none;

    background-size: cover;
    background-position: 50%;
    filter: grayscale(100%);
    transition: 1s ease;
}

.Gradient{
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

    height: 50%;
    width: 101%;

    text-align: center;
    text-wrap: wrap;
    
    background: linear-gradient(0deg, #030003 0%, rgba(0,0,0,0) 100%);
}
.Gradient > h1{ 
    position: absolute;
    bottom: -1%;
    left: 50%; /* Position the h1 in the center horizontally */
    transform: translateX(-50%); /* Adjust the h1 to be perfectly centered */
    margin: 0;

    width: 100%;

    font-size: 1.3rem;
    color: aliceblue;
}

/* -----------------------------------------------------------------------*/

@media (orientation: landscape) {
    .VideoSection{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 90%;

        padding-top: 75px;
    }

    .Video{
        min-width: 25%;
        max-width: 30%;
    }
}

/* -----------------------------------------------------------------------*/

@media (orientation: portrait) {
    .VideoSection{
        margin-top: 75px;
        row-gap: 50px;
        margin-bottom: 150px;
    }
    .Video{
        min-width: 50%;
        width: 75%;
        max-width: 90%;
    }
    .Video:hover{
        transform: scale(110%);
    }
}

/* -----------------------------------------------------------------------*/
.Video:hover{
    filter: grayscale(0%);
    z-index: 2;
}
