@font-face {
    font-family: 'SpaceMono';
    src: url('./fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --text-color: #FFFFFF;
    --background-color: #030003;
    --alpha: #00000000;
}


*{
    font-family: SpaceMono;
}
html, body, #root{
    background-color: #030003;
    margin: 0;
    image-rendering: pixelated;
}

.backgroundVideo{
    position: fixed;
    object-fit: cover;

    top: 0;
    left: 0;
    overflow: hidden;

    opacity: 25%;
}